# Arquivos de Bytecode e Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais
venv/
env/
virtualenv/
*.venv

# Banco de Dados
# Nunca versione o banco de dados de desenvolvimento
db.sqlite3
*.sql

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de mídia e estáticos coletados
# Geralmente, você não versiona os arquivos enviados pelos usuários
media/
staticfiles/

# Arquivos de segredos e ambiente
.env